.btn{
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--btn-fs, $fs-md);

    @each $color, $value in $theme-colors {
        &-soft-#{$color} {
            @include button-variant($value, $value);
            background-color: rgba($value, 0.1);
            color: $value;
            border: transparent;
        }
      }

}