[data-overlay]{
    position: relative;
    z-index: 1;
}
[data-overlay]:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(var(--#{$variable-prefix}-overlay-rgb, 0, 0, 0), var(--#{$variable-prefix}-overlay-opacity, 0.7));
    z-index: -1;
    left: 0; top: 0;
}
[data-overlay-bg="white"]{
    --#{$variable-prefix}-overlay-rgb: var(--#{$variable-prefix}-white-rgb);
}
@for $i from 0 to 11 {
    [data-overlay="#{$i}"]{
        --#{$variable-prefix}-overlay-opacity: calc( #{$i} * 0.1 );
    }    
}